<!DOCTYPE html>
<html>
<head>
    <title>Spotify Match</title>
</head>
<body>
	<h2>Welcome to Spotify Match!</h2>
	<% if (user) { %>
		<img src=<%=user.photos[0]%>>
		<h3> Hi, <%=user.name%>!</p>
		<h3> Your ID: <%=user.id%></p>
		<% user.library.forEach(function(trackObj){ %>
			<img src=<%= trackObj.track.album.images[0].url%> width="50px">
			<p><%= trackObj.track.name%></p>
		<% }) %>
		<%} else { %>
		<p> Not Allowed </p>
		<% } %>
</body>
</html>