<%- include("./partials/header") %>

<div class="wrapper">
	<h2>🤘 Spotify Match</h2>
	<div class="user-wrap">
		<img class="user-img" src=<%=user.photos[0]%>>
		<h3 class="user-name"> Hi, <%=user.name%>!</h2>
		<h4 id="id_text"> Your ID: <%=user.appID%></h4>
		<form action=<%= "/user/" + user.username + "/change" %> method="POST">
			<input name="newID" value="<%=user.appID%>">
			<button type="submit">Change ID</button> 
		</form>
		<form action=<%= "/user/" + user.username + "/create" %> method="POST">
			<input placeholder="User ID" name="id">
			<button type="submit">Create a Match</button>
		</form>
	</div>
	<p><a href="/logout">Log out</a></p>
</div>

<%- include("./partials/footer") %>