<%- include("./partials/header") %>

<div class="wrapper">
	<div class="wrapper-left">
		<h1>🤘 Spotify Match</h1>
		<h3><span id="greet-msg"></span>, <%= user.name %>!</h3>
		<p class="slim secondary">Your ID: <span class="secondary b"><%= user.appID %></span></p>
		<form class="primary-form top-lg" action=<%= "/user/" + user.username + "/create" %> method="POST">
			<h3>Create a match:</h3>
			<input class="primary-input top-sm" placeholder="Friend's ID" name="id">
			<button class="primary-btn btn-form top-xs" type="submit">Create a Match</button>
		</form>
		<form class="primary-form top-lg" action=<%= "/user/" + user.username + "/change" %> method="POST">
			<h3>Change your ID:</h3>
			<input class="primary-input top-sm" placeholder="New ID" name="newID">
			<button class="primary-btn btn-form top-xs" type="submit">Change ID</button>
		</form>
		<p class="small-txt secondary top-lg"><a class="clickable" href="/logout">Log Out</a> | <a class="clickable" href="/logout">Report a bug</a></p>
		<p class="small-txt secondary">Here's a quick <a class="clickable" href="/tutorial">tutorial</a></p>
		<p class="small-txt secondary">Created by <a class="clickable" target="_blank" href="https://paulboldyrev.me/">Paul Boldyrev</a></p>
	</div>
	<div class="wrapper-right text-center">
		<h1>🎵 Past Matches</h1>
	</div>
</div>

<script>
  	var now = new Date();
	var hrs = now.getHours();
	var msg = "";
	if (hrs >  0) msg = "Good morning";
	if (hrs > 12) msg = "Good afternoon";

	document.getElementById('greet-msg').textContent = msg;
</script>

<!-- <form action=<%= "/user/" + user.username + "/change" %> method="POST">
	<input name="newID" value="<%=user.appID%>">
	<button type="submit">Change ID</button> 
</form>
<form action=<%= "/user/" + user.username + "/create" %> method="POST">
	<input placeholder="User ID" name="id">
	<button type="submit">Create a Match</button>
</form> -->

<%- include("./partials/footer") %>