<%- include("./partials/header") %>

<h2>Welcome to Spotify Match!</h2>
<img src=<%=user.photos[0]%>>
<h2> Hi, <%=user.name%>!</h2>
<h4 id="id_text"> Your ID: <%=user.appID%></h4>
<form action=<%= "/user/" + user.username + "/change" %> method="POST">
	<input name="newID" value="<%=user.appID%>">
	<button type="submit">Change ID</button> 
</form>
<p><a href=<%= "/user/" + user.username + "/create" %> >Create Playlist</a> <a href="/logout">Log out</a></p>

<%- include("./partials/footer") %>